 <!-- About Section -->
 <section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Reformas DoubleG es una Empresa familiar con experiencia mas de 20 años especializada en:
                Reforma integral de viviendas: reforma de baños,
                reforma de cocinas, rehabilitación de fachadas,
                reforma de ventanas de aluminio, reforma de pavimento, reforma de azulejo,
                cambio de bañera por ducha, reforma de fontanería fria y caliente, reforma eléctrica,
                reforma de pintura, reforma de tejado, instalación de sanitarios, instalación de mamparas baño, etc.

                Estamos a tu disposición para asesorarte en todo momento sobre cualquier aspecto relativo a nuestro negocio.</p>
            </div>
            <div class="col-lg-4">
                <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
    </div>
</section>
