 <!-- About Section -->
 <section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 text-center">
                <p> Reformas DoubleG es una Empresa familiar con experiencia de mas de 20 años especializada en: <br><br>

                    Reformas integrales de viviendas, baños, cocinas, fachadas, ventanas de aluminio, pavimento, azulejo,
                    tejados, cambio de bañera por ducha, fontanería fría y caliente, reforma eléctrica,
                    reforma de pintura, instalación de sanitarios, instalación de mamparas baño y etc. <br><br>
    
                    Estamos a tu disposición para asesorarte en todo momento sobre cualquier aspecto.</p>
            </div>
        </div>
    </div>
</section>
